* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.8);
    transition: all 0.3s ease-in-out;
}

.modal.open {
    
    opacity: 1;
    pointer-events: all;
}

.full-image {
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     transition: all 0.3s ease-in-out;

}
